In [3]:
import pandas as pd

In [11]:
df=pd.read_csv('https://raw.githubusercontent.com/mukeshanshu128/DATASCIENEC/main/Machine%20Learning/Logistics%20regression/student_records.csv', index_col=0)
df

       OverallGrade Obedient  ResearchScore  ProjectScore Recommend
Name
Henry             A        Y             90            85       Yes
John              C        N             85            51       Yes
David             F        N             10            17        No
Holmes            B        Y             75            71        No
Marvin            E        N             20            30        No
Simon             A        Y             92            79       Yes
Robert            B        Y             60            59        No
Trent             C        Y             75            33        No

In [55]:
#splitting the dataset in continous and catagory variable
df_conti_vars=df.loc[:,(df.dtypes=='float') | (df.dtypes=='int64')]
df_cat_vars=df.loc[:,(df.dtypes=='object')]

In [56]:
df_cat_vars

       OverallGrade Obedient Recommend
Name
Henry             A        Y       Yes
John              C        N       Yes
David             F        N        No
Holmes            B        Y        No
Marvin            E        N        No
Simon             A        Y       Yes
Robert            B        Y        No
Trent             C        Y        No

In [42]:
#UDF to get descritive statitics summary for contious variable

def continous_var_summary(x):
    return pd.Series([x.count(),x.isnull().sum(),x.sum(),x.min(),x.mean(),x.median(),x.std(),x.var(),x.quantile(0.01),x.quantile(0.05),
                      x.quantile(0.1),x.quantile(0.25),x.quantile(0.50),x.quantile(0.75),x.quantile(0.90),x.quantile(0.95),x.max()],
                      index=['N','NMISS','SUM','MIN','MEAN','MEDIAN','STD','VAR','P1','P5','P10','P25','P50','P75','P90','P95','MAX'])

In [44]:
df_conti_vars.apply(continous_var_summary).T.round(2)

                 N  NMISS    SUM   MIN   MEAN  ...   P50    P75   P90   P95   MAX
ResearchScore  8.0    0.0  507.0  10.0  63.38  ...  75.0  86.25  90.6  91.3  92.0
ProjectScore   8.0    0.0  425.0  17.0  53.12  ...  55.0  73.00  80.8  82.9  85.0

[2 rows x 17 columns]

In [58]:
#UDF to get descritive statitics summary for catagorical variable
def cat_var(x):
    Mode=x.values_counts().reset_index()
    return pd.Series([x.count(),x.isnull().sum(),Mode.iloc[0,0],Mode.iloc[0,1],
                        Mode.iloc[0,1]*100/x.count()],
                       
                        index=['N','Nmiss','Mode','FREQUENCY','PERCENTAGE'])

In [59]:
 df_cat_vars.apply(cat_var).T.round(2)

AttributeError: ignored