We are going to have a full fledged ML Project implemented to understand its pipeline

__Project Name: Student Grant Recommendation__

# Step 1: Data Retrieval

In [20]:
import pandas as pd
import io
#pd.options.mode.chained_assignment = None # default='warn'

from google.colab import files
uploaded = files.upload()

import io
data = io.BytesIO(uploaded['student_records.csv'])

Saving student_records.csv to student_records (1).csv

In [21]:
df = pd.read_csv(data)

df.head()

     Name OverallGrade Obedient  ResearchScore  ProjectScore Recommend
0   Henry            A        Y             90            85       Yes
1    John            C        N             85            51       Yes
2   David            F        N             10            17        No
3  Holmes            B        Y             75            71        No
4  Marvin            E        N             20            30        No

# Step 2: Data Preparation

Since it is a clean dataset, Data Wrangling is not required. Hence here we will be mainly focussing on Feature Engineering and Scaling.

# Step 3: Feature Extraction and Engineering:

We will extract the existing features and outcomes in separate variables.
Note: we remove unnecessary feature or column to get better result or accuracy

In [22]:
feature_names = ['OverallGrade', 'Obedient','ResearchScore','ProjectScore']
training_features = df[feature_names]

# training_features = df[['OverallGrade', 'Obedient','ResearchScore','ProjectScore']]

In [23]:
training_features

  OverallGrade Obedient  ResearchScore  ProjectScore
0            A        Y             90            85
1            C        N             85            51
2            F        N             10            17
3            B        Y             75            71
4            E        N             20            30
5            A        Y             92            79
6            B        Y             60            59
7            C        Y             75            33

In [24]:
type(training_features)

pandas.core.frame.DataFrame

In [25]:
#Target variable or Indepent variable or Y-axis we separate recommond variable from main dataframe
outcome_name = ['Recommend']
outcome_labels = df[outcome_name]

In [26]:
outcome_labels

  Recommend
0       Yes
1       Yes
2        No
3        No
4        No
5       Yes
6        No
7        No

In [27]:
type(outcome_labels)

pandas.core.frame.DataFrame

In [28]:
# Lets separate the categorical and numerical features now
numeric_feature_names = ['ResearchScore','ProjectScore']
categorical_feature_names = ['OverallGrade','Obedient']

In [29]:
#Three type of feature scaling is available I)StandardScaler II)MINMAX III)ROBUST
#StandardScaler removes the mean and scales each feature/variable to unit variance. This operation is performed feature-wise in an independent way
#Feature selection-Normalise the data within a particular range
#Sometimes, it also helps in speeding up the calculations in an algorithm
#FEATURE SELECTION APLLY LINEAR REGRESSION NOT ALL ALGORITHM
#ss.fit(X[, y])--Compute the mean and std to be used for later scaling.
#SS.transform(X[, copy])-Perform standardization by centering and scaling

from sklearn.preprocessing import StandardScaler

ss = StandardScaler()

ss.fit(training_features[numeric_feature_names]) # ss, go and study

# Once ur study is done, go and give exam
training_features[numeric_feature_names] = ss.transform(training_features[numeric_feature_names])

training_features

  OverallGrade Obedient  ResearchScore  ProjectScore
0            A        Y       0.899583      1.376650
1            C        N       0.730648     -0.091777
2            F        N      -1.803390     -1.560203
3            B        Y       0.392776      0.772004
4            E        N      -1.465519     -0.998746
5            A        Y       0.967158      1.117516
6            B        Y      -0.114032      0.253735
7            C        Y       0.392776     -0.869179

In [30]:
import warnings;
warnings.simplefilter('ignore')

In [31]:
# Treat the categorical columns using One Hot Encoding Method
# One Hot Encoding Method convert catagory to Integer
training_features = pd.get_dummies(training_features, columns=categorical_feature_names)
training_features

   ResearchScore  ProjectScore  ...  Obedient_N  Obedient_Y
0       0.899583      1.376650  ...           0           1
1       0.730648     -0.091777  ...           1           0
2      -1.803390     -1.560203  ...           1           0
3       0.392776      0.772004  ...           0           1
4      -1.465519     -0.998746  ...           1           0
5       0.967158      1.117516  ...           0           1
6      -0.114032      0.253735  ...           0           1
7       0.392776     -0.869179  ...           0           1

[8 rows x 9 columns]

In [82]:
#Drop column-sample don't do it here
#training_features.drop(columns=['Obedient_N', 'Obedient_Y','OverallGrade_E','ResearchScore'])
#tr_fe= 
#training_features.drop(['Obedient_N', 'Obedient_Y','OverallGrade_E','ResearchScore'], axis=1)

In [84]:
#Build an unordered collection of unique elements.
#The sets module provides classes for constructing and manipulating unordered collections of unique elements. 
#Common uses include membership testing, removing duplicates from a sequence,
#and computing standard math operations on sets such as intersection, union, difference, and symmetric difference
#The set classes are implemented using dictionaries. Accordingly, the requirements for set elements are the same as those for dictionary keys
set(training_features.columns)

{'Obedient_N',
 'Obedient_Y',
 'OverallGrade_A',
 'OverallGrade_B',
 'OverallGrade_C',
 'OverallGrade_E',
 'OverallGrade_F',
 'ProjectScore',
 'ResearchScore'}

In [85]:
set(numeric_feature_names)

{'ProjectScore', 'ResearchScore'}

In [86]:
categorical_engineered_features = list(set(training_features.columns) - set(numeric_feature_names))

In [87]:
categorical_engineered_features

['OverallGrade_A',
 'Obedient_Y',
 'OverallGrade_B',
 'OverallGrade_E',
 'OverallGrade_F',
 'Obedient_N',
 'OverallGrade_C']

# Modeling: Logistic Regression

In [89]:
#np.array use for 2d to single array
from sklearn.linear_model import LogisticRegression
import numpy as np

lr = LogisticRegression()

model = lr.fit(training_features, np.array(outcome_labels['Recommend']))

print(model)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

# Model Evaluation:

In [92]:
#Predection label and Actual Label
pred_labels = model.predict(training_features)
actual_labels = np.array(outcome_labels['Recommend'])

In [91]:
actual_labels

array(['Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'No'], dtype=object)

In [93]:
pred_labels

array(['Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'No'], dtype=object)

In [77]:
df.groupby('Recommend').size()

Recommend
No     5
Yes    3
dtype: int64

In [78]:
# Evaluate the performance of a model
from sklearn.metrics import accuracy_score

accuracy_score(actual_labels,pred_labels)

1.0

In [79]:
# Evaluate the performance of a model
from sklearn.metrics import classification_report

print(classification_report(actual_labels,pred_labels))

              precision    recall  f1-score   support

          No       1.00      1.00      1.00         5
         Yes       1.00      1.00      1.00         3

    accuracy                           1.00         8
   macro avg       1.00      1.00      1.00         8
weighted avg       1.00      1.00      1.00         8

In [80]:
# Evaluate the performance of a model
from sklearn.metrics import confusion_matrix

print(confusion_matrix(actual_labels,pred_labels))

[[5 0]
 [0 3]]

# Model Deployment

In [94]:
!pip install --upgrade joblib

Requirement already up-to-date: joblib in /usr/local/lib/python3.6/dist-packages (0.17.0)

In [95]:
import joblib
import os
# save the model
if not os.path.exists('Model'):
    os.mkdir('Model')
if not os.path.exists('Scaler'):
    os.mkdir('Scaler')
    
joblib.dump(model,r'Model/client_model.pickle')
joblib.dump(ss,r'Scaler/client_scaler.pickle')

['Scaler/client_scaler.pickle']

# Prediction in Action

In [100]:
model1 = joblib.load(r'Model/client_model.pickle')
ss1 = joblib.load(r'Scaler/client_scaler.pickle')

In [101]:
new_data = pd.DataFrame([
    {'Name' : 'Ninad' , 'OverallGrade' : 'F' , 'Obedient' : 'N', 'ResearchScore' : 30 , 'ProjectScore' : 20} ,
    {'Name' : 'Darshan' , 'OverallGrade' : 'A' , 'Obedient' : 'Y', 'ResearchScore' : 78 , 'ProjectScore' : 80} ,
])
new_data # Unseen

      Name OverallGrade Obedient  ResearchScore  ProjectScore
0    Ninad            F        N             30            20
1  Darshan            A        Y             78            80

In [106]:
prediction_features = new_data[feature_names]
prediction_features

  OverallGrade Obedient  ResearchScore  ProjectScore
0            F        N             30            20
1            A        Y             78            80

In [107]:
prediction_features[numeric_feature_names] = ss1.transform(prediction_features[numeric_feature_names])
prediction_features

  OverallGrade Obedient  ResearchScore  ProjectScore
0            F        N      -1.127647     -1.430636
1            A        Y       0.494137      1.160705

In [108]:
prediction_features = pd.get_dummies(prediction_features, columns=categorical_feature_names)
prediction_features

   ResearchScore  ProjectScore  ...  Obedient_N  Obedient_Y
0      -1.127647     -1.430636  ...           1           0
1       0.494137      1.160705  ...           0           1

[2 rows x 6 columns]

In [105]:
set(prediction_features.columns)

{'Obedient_N',
 'Obedient_Y',
 'OverallGrade_A',
 'OverallGrade_F',
 'ProjectScore',
 'ResearchScore'}

In [109]:
set(numeric_feature_names)

{'ProjectScore', 'ResearchScore'}

In [111]:
current_categorical_engineered_features = set(prediction_features.columns) - set(numeric_feature_names)
current_categorical_engineered_features

{'Obedient_N', 'Obedient_Y', 'OverallGrade_A', 'OverallGrade_F'}

In [112]:
missing_features = set(categorical_engineered_features) - current_categorical_engineered_features
missing_features

{'OverallGrade_B', 'OverallGrade_C', 'OverallGrade_E'}

In [113]:
prediction_features

   ResearchScore  ProjectScore  ...  Obedient_N  Obedient_Y
0      -1.127647     -1.430636  ...           1           0
1       0.494137      1.160705  ...           0           1

[2 rows x 6 columns]

In [114]:
len(prediction_features)

2

In [115]:
for feature in missing_features:
    prediction_features[feature] = 0 * len(prediction_features)

prediction_features

   ResearchScore  ProjectScore  ...  OverallGrade_E  OverallGrade_C
0      -1.127647     -1.430636  ...               0               0
1       0.494137      1.160705  ...               0               0

[2 rows x 9 columns]

In [116]:
predictions = model1.predict(prediction_features)
new_data['Recommend'] = predictions
new_data

      Name OverallGrade Obedient  ResearchScore  ProjectScore Recommend
0    Ninad            F        N             30            20        No
1  Darshan            A        Y             78            80       Yes